<% provide(:title, 'Home') %>
  
  	<div class="row maincontent">
       
        <!-- Main Content ( Middle Content) -->
        
        <div class="twelve columns">

            <!-- Services -->        
        	<div class="row">
            
            	<!-- // // // // // // // // // // -->        
           
            	<div class="four columns">
        
        		     <div class="service">
        		        <a href="#"> 
                        	<div class="service-icon">
                                 <%= image_tag("icons/service-responsive.png", :size => "60x120", :alt => "Modern") %>
                            </div>

                            <h2 class="service-main">Fully Responsive</h2>                            
                            <p class="service-sub">Accusantium et doloremque veritatis architecto, eaque ipsa quae ab illo inventore veritatis perspiciatis.</p>                            
                        </a>
                    </div>

   	   			</div>
            
            	<!-- // // // // // // // // // // -->
            
            	<div class="four columns">
        
        		     <div class="service">
        		        <a href="#">                            
                            <div class="service-icon">
                                <%= image_tag("icons/service-touch.png", :size => "60x120", :alt => "Modern") %>
                            </div>
                            <h2 class="service-main">Touch Support</h2>                            
                            <p class="service-sub">Inventore veritatis et quasi architecto beatae dicta sed ut perspiciatis unde omnis iste natus laudantium.</p>                            
                        </a>
                    </div>

   	   			</div>
            
            	<!-- // // // // // // // // // // -->
            
            	<div class="four columns">
        
        		    <div class="service">
        		        <a href="#">                            
                            <div class="service-icon">
                            <%= image_tag("icons/service-customization.png", :size => "60x120", :alt => "Modern") %>
                            </div>
                            <h2 class="service-main">Easy Customization</h2>                            
                            <p class="service-sub">Etiam eget mi enim, non ultricies nisi voluptatem, illo inventore veritatis et quasi architecto beatae explicabo.</p>                            
                        </a>
                    </div>
 
   	   			</div>
            
            	<!-- // // // // // // // // // // -->
            
            </div>
            <!-- End Services -->
            
            <div class="row">
            	<div class="twelve columns">
            		<hr/>
            	</div>
            </div>
            
            <!-- Recent Work -->        
        	<div class="row">
        
				<div class="twelve columns">
        		
        			<h3>Recent Work</h3>
                    
					<!-- // // // // // // // // // // -->
            		<div class="list_carousel">
                    	<div class="carousel_nav">
                        <a class="prev" id="car_prev" href="#"><span>prev</span></a>
						<a class="next" id="car_next" href="#"><span>next</span></a>
                        </div>
                        <div class="clearfix"></div>
						<ul id="carousel-works">
							<li>
								<div class="work-item contentHover"> 
                                                               
       								<div class="content"> 
       									<div class="work-item-image"> 
                                            <%= image_tag("works/1.jpg") %>
        								</div>
        	
            							<div class="work-item-content">
        									<h4><a href="#">Skyde</a></h4>
        									<p>Travel far away to a old pirate space station.</p>
            							</div>            
        							</div>
        
        							<div class="hover-content">
                                    	<h3><a href="#">Skyde</a></h3>                                    
                                    	<p>Inventore veritatis et quasi architecto beatae dicta sed ut perspiciatis unde omnis iste natus laudantium.</p>  
                                        <div class="hover-links">
                                        <a href="single-project.html" class="view-item"><span>&nbsp;</span></a> 
                                        <a class="titan-lb view-image" href="assets/works/1.jpg" title="Skyde - Travel far away to a old pirate space station."><span>&nbsp;</span></a>
                                        </div>                             
                                    </div>
                                    
								</div>        
               				</li>
                            
							<li>
								<div class="work-item contentHover"> 
                                                               
       								<div class="content"> 
       									<div class="work-item-image">        
                                            <%= image_tag("works/2.jpg") %>
        								</div>
        	
            							<div class="work-item-content">
        									<h4><a href="#">Materialistic</a></h4>
        									<p>Another beatiful work done in a fast motion.</p>
            							</div>            
        							</div>
        
        							<div class="hover-content">
                                    	<h3><a href="#">Materialistic</a></h3>                                    
                                    	<p>Inventore veritatis et quasi architecto beatae dicta sed ut perspiciatis unde omnis iste natus laudantium.</p>  
                                        <div class="hover-links">
                                        <a href="single-project.html" class="view-item"><span>&nbsp;</span></a>
                                        <a class="titan-lb view-image" href="assets/works/2.jpg" title="Materialistic - Inventore veritatis et quasi architecto beatae."><span>&nbsp;</span></a>                                 		</div>                             
                                    </div>
                                                                        
								</div>             
                            </li>
                            
							<li>
								<div class="work-item contentHover"> 
                                                               
       								<div class="content"> 
       									<div class="work-item-image">        
                                            <%= image_tag("works/3.jpg") %>
        								</div>
        	
            							<div class="work-item-content">
        									<h4><a href="#">Shadowgate Entrance</a></h4>
        									<p>Start moving and never look back you will.</p>
            							</div>            
        							</div>
        
        							<div class="hover-content">
                                    	<h3><a href="#">Shadowgate Entrance</a></h3>                                    
                                    	<p>Inventore veritatis et quasi architecto beatae dicta sed ut perspiciatis unde omnis iste natus laudantium.</p>  
                                        <div class="hover-links">
                                        <a href="single-project.html" class="view-item"><span>&nbsp;</span></a>
                                        <a class="titan-lb view-image" href="assets/works/3.jpg" title="Shadowgate Entrance - Inventore veritatis et quasi architecto beatae dicta sed ut perspiciatis unde omnis iste natus laudantium."><span>&nbsp;</span></a>                                      
                                        </div>                             
                                    </div>
                                                                        
								</div>  
                            </li>
                            
							<li>
								<div class="work-item contentHover"> 
                                                               
       								<div class="content"> 
       									<div class="work-item-image">        
        									<%= image_tag("works/4.jpg") %>
        								</div>
        	
            							<div class="work-item-content">
        									<h4><a href="#">Where The Forgotten</a></h4>
        									<p>The cold sky stands still, there is no wind...</p>
            							</div>            
        							</div>
        
        							<div class="hover-content">
                                    	<h3><a href="#">Where The Forgotten</a></h3>                                    
                                    	<p>Inventore veritatis et quasi architecto beatae dicta sed ut perspiciatis unde omnis iste natus laudantium.</p>  
                                        <div class="hover-links">
                                        <a href="single-project.html" class="view-item"><span>&nbsp;</span></a>
                                        <a class="titan-lb view-image" href="assets/works/4.jpg" title="Where The Forgotten - Inventore veritatis et quasi architecto beatae dicta sed ut perspiciatis unde omnis iste natus laudantium."><span>&nbsp;</span></a>                                       
                                        </div>                             
                                    </div>
                                                                        
								</div>
                            </li>
							<li>
								<div class="work-item contentHover"> 
                                                               
       								<div class="content"> 
       									<div class="work-item-image">        
        									<%= image_tag("works/5.jpg") %>
        								</div>
        	
            							<div class="work-item-content">
        									<h4><a href="#">Skyde</a></h4>
        									<p>Travel far away to a pirate space station.</p>
            							</div>            
        							</div>
        
        							<div class="hover-content">
                                    	<h3><a href="#">Skyde</a></h3>                                    
                                    	<p>Inventore veritatis et quasi architecto beatae dicta sed ut perspiciatis unde omnis iste natus laudantium.</p>  
                                        <div class="hover-links">
                                        <a href="#" class="view-item"><span>&nbsp;</span></a>
                                        <a href="#" class="view-image"><span>&nbsp;</span></a>                                       
                                        </div>                             
                                    </div>
                                    
								</div>        
               				</li>
                            
							<li>
								<div class="work-item contentHover"> 
                                                               
       								<div class="content"> 
       									<div class="work-item-image">        
        									<%= image_tag("works/6.jpg") %>
        								</div>
        	
            							<div class="work-item-content">
        									<h4><a href="#">Materialistic</a></h4>
        									<p>Another beatiful work done in a fast motion.</p>
            							</div>            
        							</div>
        
        							<div class="hover-content">
                                    	<h3><a href="#">Materialistic</a></h3>                                    
                                    	<p>Inventore veritatis et quasi architecto beatae dicta sed ut perspiciatis unde omnis iste natus laudantium.</p>  
                                        <div class="hover-links">
                                        <a href="#" class="view-item"><span>&nbsp;</span></a>
                                        <a href="#" class="view-image"><span>&nbsp;</span></a>                                       
                                        </div>                             
                                    </div>
                                                                        
								</div>             
                            </li>
                            
							<li>
								<div class="work-item contentHover"> 
                                                               
       								<div class="content"> 
       									<div class="work-item-image">        
        									<%= image_tag("works/7.jpg") %>
        								</div>
        	
            							<div class="work-item-content">
        									<h4><a href="#">Shadowgate Entrance</a></h4>
        									<p>Start moving and never look back you will.</p>
            							</div>            
        							</div>
        
        							<div class="hover-content">
                                    	<h3><a href="#">Shadowgate Entrance</a></h3>                                    
                                    	<p>Inventore veritatis et quasi architecto beatae dicta sed ut perspiciatis unde omnis iste natus laudantium.</p>  
                                        <div class="hover-links">
                                        <a href="#" class="view-item"><span>&nbsp;</span></a>
                                        <a href="#" class="view-image"><span>&nbsp;</span></a>                                       
                                        </div>                             
                                    </div>
                                                                        
								</div>  
                            </li>
                            
							<li>
								<div class="work-item contentHover"> 
                                                               
       								<div class="content"> 
       									<div class="work-item-image">        
        									<%= image_tag("works/8.jpg") %>
        								</div>
        	
            							<div class="work-item-content">
        									<h4><a href="#">Where The Forgotten</a></h4>
        									<p>The cold sky stands still, there is no wind...</p>
            							</div>            
        							</div>
        
        							<div class="hover-content">
                                    	<h3><a href="#">Where The Forgotten</a></h3>                                    
                                    	<p>Inventore veritatis et quasi architecto beatae dicta sed ut perspiciatis unde omnis iste natus laudantium.</p>  
                                        <div class="hover-links">
                                        <a href="#" class="view-item"><span>&nbsp;</span></a>
                                        <a href="#" class="view-image"><span>&nbsp;</span></a>                                       
                                        </div>                             
                                    </div>
                                                                        
								</div>
                            </li>

						</ul>
						<div class="clearfix"></div>
                 	</div>
                    <!-- // // // // // // // // // // -->
                    
   	   			</div>  
           
            </div>
            <!-- End Recent Work -->  
            
            <div class="row">
            	<div class="twelve columns">
            		<hr/>
            	</div>
            </div>
            
            <!-- Our Partners -->        
        	<div class="row">
            
            	<div class="twelve columns">        		
                
        			<h3>Our Partners</h3>
                   
					<ul class="clients_list">
                		<li class="three"><a class="has-tipsy" href="#" title="Site Templates and Themes"><%= image_tag("logos/1.png", :alt => "Apple") %></a></li>
                    	<li class="three"><a class="has-tipsy" href="#" title="Awesome Stock Graphics"><%= image_tag("logos/2.png", :alt => "EA") %></a></li>
                    	<li class="three"><a class="has-tipsy" href="#" title="PHP, JS, Java and .NET"><%= image_tag("logos/3.png", :alt => "Adidis") %></a></li>
                    	<li class="three"><a class="has-tipsy" href="#" title="Stock Motion Graphics"><%= image_tag("logos/4.png", :alt => "NASA") %></a></li>
                	</ul>
                    
                             
   	   			</div>
           
         	</div>
            <!-- End Our Partners -->       
     
        </div>
        <!-- End Main Content ( Middle Content) -->
        
  	</div>
 