= simple_form_for @contact, url: static_pages_email_path , method:'get' do |f|
  .row
    .twelve.columns
      = f.error_notification
  .row
    .four.columns
      = f.input :name
    .four.columns
      = f.input :email, as: :email
    .four.columns
      = f.input :subject
  .row
    .twelve.columns
      = f.error :base
      = f.input :message, as: :text
  / %a.medium.button{:href => "#"} Submit
  = f.button :submit, "Submit", class:"medium button"