= form_for :static_pages_email, url: static_pages_email_path , method:'get' do |f|
  - if @contact.errors.any?
    %ul
      - @contact.errors.full_messages.each do |msg|
        %li= msg
  .row
    .four.columns
      = f.label :name
      = f.text_field :name
    .four.columns
      = f.label :email
      = f.text_field :email
    .four.columns
      = f.label :subject
      = f.text_field :subject
  .row
    .twelve.columns
      = f.label :message
      = f.text_area :message
  / %a.medium.button{:href => "#"} Submit
  = f.submit "Submit", class:"medium button"