/ Footer
.row.footer
  / // // // // // // // // // //
  .four.columns
    %h4 About Us
    %p We say what we do, we do what we say, and we're looking forward to prove it to you.
    %ul.vcard
      %li.address Nebraska, NE. USA
      %li.tel
        %a{:href => "https://github.com/opennebraska"} github.com/opennebraska
      %li.email
        %a{:href => "opennebraska@gmail.com"} opennebraska@gmail.com
  / // // // // // // // // // //
  .four.columns
    %h4 Latest Posts
    %ul.footer-list
      - @recent_posts.each do |post|
        %li
          = link_to post.title, post.full_url 
  / // // // // // // // // // //
  .four.columns
    %h4 Latest Tweets
    - cache "latesttweets#{Date.today}" do
      %ul.footer-list#tweetFeed
        - Testimony.order("tweet_id desc").limit(3).each do |testimony|
          %li
            %a{:href => "#"}= "#{testimony.content} -" 
            %a{:href => "#"}= "@#{testimony.screen_name}"
  / // // // // // // // // // //
/ End Footer
