/ Footer
.row.footer
  / // // // // // // // // // //
  .four.columns
    %h4 About Us
    %p We say what we do, we do what we say, and we're looking forward to prove it to you.
    %ul.vcard
      %li.address Omaha, NE. USA
      %li.tel
        %a{:href => "https://github.com/innovateomaha"} github.com/innovateomaha
      %li.email
        %a{:href => "innovateomaha@gmail.com"} innovateomaha@gmail.com
  / // // // // // // // // // //
  .four.columns
    %h4 Latest Posts
    %ul.footer-list
      %li
        %a{:href => "#"} Mauris pellentesque laoreet lacus non condimentum.
      %li
        %a{:href => "#"} Vestibulum vel diam orci vitae.
      %li
        %a{:href => "#"} Suspendisse elementum magna sed lorem faucibus eleifend.
      %li
        %a{:href => "#"} Phasellus placerat convallis congue.
      %li
        %a{:href => "#"} Etiam vehicula lacus fringilla lacus tristique pretium.
  / // // // // // // // // // //
  .four.columns
    %h4 Latest Tweets
    - cache "latesttweets#{Date.today}" do
      %ul.footer-list#tweetFeed
        - Testimony.order("tweet_id desc").limit(3).each do |testimony|
          %li
            %a{:href => "#"}= "#{testimony.text} -" 
            %a{:href => "#"}= "@#{testimony.screen_name}"
  / // // // // // // // // // //
/ End Footer
