<!-- Region 2 Wrap -->

<div class="container region2wrap">
  
	<div class="row">
    
    	<!-- Logo -->
            
    	<div class="three columns">

        	<a href="index.html" id="logo"><h1>Innovate<span>Omaha</span></h1></a>
        
  		</div>
        
        <!-- End Logo -->
        
        <% if !defined? @construction_page %>
 
        <!-- Main Navigation -->
        
        <div class="nine columns">

			<nav class="top-bar">
        
    			<ul>
      				<!-- Toggle Button Mobile -->
      				<li class="name">
        			<h1><a href="#"> Please select your page</a></h1>
      				</li>
      				<li class="toggle-topbar"><a href="#"></a></li>
                    <!-- End Toggle Button Mobile -->
    			</ul>



      			<section><!-- Nav Section -->
      			<ul class="right">
        
        			<li class="has-dropdown">
                <%= link_to "Home", "home" %>
        			</li>
        
        			<li class="has-dropdown">
        				<%= link_to "About", "about" %>   
        			</li>
        
        			<li class="has-dropdown">
          				<%= link_to "Blog", "blog" %>   
        			</li>
        
        			<li class="has-dropdown">
          				<%= link_to "Portfolio", "portfolio" %> 
        			</li>
        
        			<li>
                  <%= link_to "Contact", "contact" %> 
              </li>
        
      			</ul>
                </section><!-- End Nav Section -->

  			</nav>            
        
    	</div>
        
        <!-- End Main Navigation -->         
        <% end %>
	</div>
    
</div>
  
<!-- End Region 2 Wrap -->