/ Region 10 Wrap
.container.region10wrap
  .row.footer_bottom
    / Bottom
    / // // // // // // // // // //
    .six.columns
      %p.copyright © 2012 TouchM by 4GraFx. All rights reserved
    / // // // // // // // // // //
    .six.columns
      %ul.link-list
        %li= link_to "Home", static_pages_home_path
        %li= link_to "About", static_pages_about_path
        %li= link_to "Blog", static_pages_blog_path
        %li= link_to "Portfolio", static_pages_portfolio_path
        %li= link_to "Contact", static_pages_contact_path
    / // // // // // // // // // //
    / Bottom
/ End Region 10 Wrap
