<!-- Region 10 Wrap -->

<div class="container region10wrap">

  <div class="row footer_bottom">

    <!-- Bottom -->

    <!-- // // // // // // // // // // -->

    <div class="six columns">

      <p class="copyright">© 2012 TouchM by 4GraFx. All rights reserved</p>

    </div>

    <!-- // // // // // // // // // // -->

    <div class="six columns">

      <ul class="link-list">
        <li><%= link_to "Home", "home" %></li>
        <li><%= link_to "About", "about" %></li>
        <li><%= link_to "Blog", "blog" %></li>
        <li><%= link_to "Porfolio", "portfolio" %></li>
        <li><%= link_to "Contact", "contact" %></li>
      </ul>

    </div>

    <!-- // // // // // // // // // // -->

    <!-- Bottom -->

  </div>
</div>

<!-- End Region 10 Wrap -->