<!-- Region 1 Wrap -->

<div class="container region1wrap">

  <!-- Top Header -->
  <div class="row top_header">

    <div class="six columns">
        <ul class="link-list">
            <li><a href="#">Order Now</a></li>
            <li><a href="#">Pricing</a></li>
            <li><a href="#">Site Map</a></li>
        </ul> 
        
        <div class="login user-control">
            Hello, <a href="#"> John Smith<span class="notification">4</span></a>
        </div>
    </div>

    <div class="six columns">

      <ul class="top_social">
        <li><a class="has-tipsy" href="http://twitter.com/" title="Twitter"><%= image_tag "social/Twitter.png" %></a></li>
        <li><a class="has-tipsy" href="http://www.facebook.com/" title="Facebook"><%= image_tag "social/Facebook.png" %></a></li>
        <li><a class="has-tipsy" href="http://google.com/" title="Google"><%= image_tag "social/Google.png" %></a></li>
        <li><a class="has-tipsy" href="http://www.LinkedIn.com/" title="LinkedIn"><%= image_tag "social/LinkedIn.png" %></a></li>
        <li><a class="has-tipsy" href="http://www.Flickr.com/" title="Flickr"><%= image_tag "social/Flickr.png" %></a></li>
        <li><a class="has-tipsy" href="http://vimeo.com/" title="Vimeo"><%= image_tag "social/Vimeo.png" %></a></li>
        <li><a class="has-tipsy" href="http://www.rss.com/" title="RSS"><%= image_tag "social/RSS.png" %></a></li>
      </ul>

    </div>

  </div>
  <!-- End Top Header -->

</div>

<!-- End Region 1 Wrap -->