/ Region 1 Wrap
.container.region1wrap
  / Top Header
  .row.top_header
    .six.columns
      %ul.link-list
        %li
          %a{:href => "#"} Order Now
        %li
          %a{:href => "#"} Pricing
        %li
          %a{:href => "#"} Site Map
      .login.user-control
        Hello,
        %a{:href => "#"}
          John Smith
          %span.notification 4
    .six.columns
      %ul.top_social
        %li
          %a.has-tipsy{:href => "http://twitter.com/", :title => "Twitter"}= image_tag "social/Twitter.png"
        %li
          %a.has-tipsy{:href => "http://www.facebook.com/", :title => "Facebook"}= image_tag "social/Facebook.png"
        %li
          %a.has-tipsy{:href => "http://google.com/", :title => "Google"}= image_tag "social/Google.png"
        %li
          %a.has-tipsy{:href => "http://www.LinkedIn.com/", :title => "LinkedIn"}= image_tag "social/LinkedIn.png"
        %li
          %a.has-tipsy{:href => "http://www.Flickr.com/", :title => "Flickr"}= image_tag "social/Flickr.png"
        %li
          %a.has-tipsy{:href => "http://vimeo.com/", :title => "Vimeo"}= image_tag "social/Vimeo.png"
        %li
          %a.has-tipsy{:href => "http://www.rss.com/", :title => "RSS"}= image_tag "social/RSS.png"
  / End Top Header
/ End Region 1 Wrap
