<%  add_crumb 'Blog', root_path %>

<%  add_crumb @post.title %>

<div class="row maincontent">

  <div class="twelve columns">
          
    <div class="page_title">
      <div class="row">
        <div class="twelve columns">
          <h1>Welcome to our blog</h1>
        </div>
      </div>
    </div>
  
  </div>

  <div class="eight columns">
    <!-- Begin Article -->
    <div class="row">
      <% content_for :title do %>
        <%= @post.title %>
      <% end %>

      <% content_for :meta_description do %>
        <%= truncate(strip_tags(@post.content), length: 155) %>
      <% end %>

      <%= render partial: 'monologue/posts/post_header', locals: {post: @post }%>
      <div class="twelve columns">
        <div class="article_content">
          <%= raw @post.content %>
        </div>
      </div>

    	<div class="tags" data-monologue="tags">
        <%= render @post.tags %>
      </div>

      <%= render "monologue/posts/social_sharing" %>

      <div id="disqus_thread"></div>
      <%= render 'layouts/monologue/application/disqus_embed' %>
      <noscript>Please enable JavaScript to view the comments.</noscript>
    </div>
    <!-- End Article -->
  </div>

    <!-- Sidebar Left -->
  <div class="four columns sidebar-right">
    
    <%= render 'layouts/monologue/application/sidebar' %>
    
  </div>
  <!-- End Sidebar Left -->

</div>